<ng-container *ngIf="userData.isVisible">
    <mat-card class="user-card-block">
        <p class="user-card-name">{{userData.name.first}} {{userData.name.last}}</p>
        <div class="user-card-button">
            <button mat-raised-button color="primary" class="smallerButton" (click)="onNameToTopClick()">Name to top</button>
            <button mat-raised-button color="primary" (click)="onHideUserClick()">Hide user</button>
        </div>

        <div class="user-card-lower-container">
            <p>Age: {{userData.age}}</p>
            <p>Sex: {{userData.isMale ? 'M' : 'F'}}</p>
        </div>
    </mat-card>
</ng-container>