<nav>
    <a routerLink="/user-list">List of users</a>
    <!-- |
    <a routerLink="/add-user-form">Add new User</a> -->
</nav>

<ng-container *ngIf="!dataIsSubmitted">
    <div class="user-form-container">
        <ng-container *ngIf="!dataIsLoaded">
            <mat-spinner class="edit-user-wait-spinner"></mat-spinner>
        </ng-container>
        <!-- <ng-container *ngIf="dataIsLoaded"> -->
            <app-add-user-form [user]="user"></app-add-user-form>        
            <div class="user-form-text-field">
                <button mat-raised-button type="submit" (click)="onSubmit()">Save edits</button>        
            </div>
        <!-- </ng-container> -->
    </div>
</ng-container>
<ng-container *ngIf="dataIsSubmitted">
    <mat-spinner class="edit-user-submit-spinner"></mat-spinner>
</ng-container>

