<div class="sities-main-container">
    <a routerLink="/merger">Input merger</a>

    <p>List of cities</p>

    <ul>
        <li *ngFor="let city of citiesArrayObservable$ | async">{{city | formatCity}}</li>
    </ul>


    <mat-form-field>
        <mat-label>Start entering city name:</mat-label>
        <input matInput type="text" [formControl]="cityName">
    </mat-form-field>
    <div>
        <div class="sities-suggestion-output">
            {{citySuggestion | formatCity }}
        </div>
    </div>
</div>
<app-parent></app-parent>