<!-- export interface User {
    userId: number;
    name: {
        first: string;
        last: string;
    },
    age: number;
    isMale: boolean;
    company: string;
    department: string;
    photoUrl: string;
} -->

<!-- <div>
    <span>Name: </span>
    <input type="text" [formControl]="name">
</div>

<form [formGroup]="fullName">
    <label>First Name: 
        <input type="text" formControlName="firstName">
    </label>
    <label>Last Name: 
        <input type="text" formControlName="lastName">
    </label>
</form> -->

<input type="button" value="Submit" (click)="onSubmit()">
