<!-- export interface User {
    userId: number;
    name: {
        first: string;
        last: string;
    },
    age: number;
    isMale: boolean;
    company: string;
    department: string;
    photoUrl: string;
} -->

<form [formGroup]="AddUser" (ngSubmit)="onSubmit()">
    <div formGroupName="name">
        <label>First Name: 
            <input type="text" formControlName="first">
        </label>
        <br/>
        <label>Last Name: 
            <input type="text" formControlName="last">
        </label>
    </div>
    <hr/>
    <label>Age: 
        <input type="text" formControlName="age">
    </label>
    <br/>
    <label>Gender: 
        <input type="radio" value=true formControlName="isMale" id="male">
        <label for="male">Male</label>
        <input type="radio" value=false formControlName="isMale" id="female">
        <label for="female">Female</label>
    </label>
    <br/>
    <label>Company: 
        <input type="text" formControlName="company">
    </label>
    <br/>
    <label>Department: 
        <input type="text" formControlName="department">
    </label>
    <br/>
    <label>Photo: 
        <input type="file" formControlName="photoUrl">
    </label>
    <br/>    
    <button type="submit" [disabled]="!AddUser.valid">Submit</button>
</form> 


<!-- <input type="button" value="Submit" (click)="onSubmit()"> -->
