<mat-card class="shared-card-block">
    <div class="shared-card-image-container">
        <img class="shared-card-image" [src]="userData.photoUrl" alt="user_photo" />
    </div>
    <div class="shared-card-text-info">
        <p class="shared-card-title">{{userData.name.first}} {{userData.name.last}}</p>
        <p class="shared-card-description-field"><em>Age:</em> {{userData.age}}</p>
        <p class="shared-card-description-field"><em>Company:</em> {{userData.company}}</p>
        <p class="shared-card-description-field"><em>Department:</em> {{userData.department}}</p>
        <p class="shared-card-description-field"><em>email:</em> {{userData.email}}</p>
    </div>
    <a mat-icon-button class="shared-card-edit-button" [routerLink]="['/edit-user', userData.userId]">
        <mat-icon aria-hidden="false" aria-label="Edit user">edit</mat-icon>
    </a>
</mat-card>
