.shared-card-block
{
    min-width: 500px;
    height: 100px;
    margin: 5px 25px;
    background-color: #f0f0f0;
    display: flex;
    float: left;
}

.shared-card-title
{
    font-size: 28px;
    font-weight: bold;
}

.shared-card-description-field
{
    margin: 0px 8px;
    font-size: 16px;
    line-height: 18px;
}

.shared-card-image-container
{
    width: 100px;
    height: 100px;
}

.shared-card-image
{
    width: auto;
    height: 100%;
    float: left;
}

.shared-card-text-info
{
    display: block;
    margin-left: 16px;
}